table, th, td {
    border: 1px solid black;
}

.table>tbody>tr>td.clickable{
	text-align: center;
    vertical-align: middle;
    transition: 0.5s;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 12px;
}	

.table>tbody>tr>td.clickable:hover{
	background: #000;
    color: #fff;
    font-size: 14px;
    
}

.table>tbody>tr>td.clicked{
	background: #ccc;
    color: #fff;
    font-size: 14px;
}


.spinner {
  width: 60px;
  height: 60px;
  margin: 60px;
  animation: rotate 1.4s infinite ease-in-out, background 1.4s infinite ease-in-out alternate;
}

@keyframes rotate {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
  }
  50% {
    transform: perspective(120px) rotateX(-180deg) rotateY(0deg);
  }
  100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-180deg);
  }
}
@keyframes background {
  0% {
  background-color: #27ae60;
  }
  50% {
    background-color: #9b59b6;
  }
  100% {
    background-color: #c0392b;
  }
}

.hiddenDiv {
	display: none;
}


html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    height: 100vh;
    margin: 0;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}

.tableContainer{
    max-width: 1530px;
    margin: 0 auto;
}
.uni_table{
    width: 100%;
}
.uni_table tr td, .uni_table tr th{
    padding: 10px;
}
.uni_table tr td:last-child{
    width: 155px;
}
.tableHeading{
    text-align: center;
    font-size: 18px;
}
.teleIco{
    float: left;
    width: 30px;
    min-height: 30px;
}
.telNumber{
    display: inline-block;
    margin-top: 10px;
    margin-left: 10px;
}
.dateInp{
    float: right;
    margin-bottom: 10px;
    height: 30px;
}
/* .search-btn {
    float: right;
    margin-bottom: 10px;
} */
.searchBtn{
    float: right;
    margin-left: 10px;
}
.pagination{
    float: right;
}
.totalPage{
    float: left;
}
.perPage{
    float: left;
    margin: 10px 0 0 0;
}